body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Outfit";
    src: url(./fonts/Outfit/Outfit-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Outfit2";
    src: url(./fonts/Outfit/Outfit-Regular.ttf);
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.qrScan {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid gainsboro;
    padding: 20px;
    border-radius: 15px;
}
.qrScan img {
    width: 100%;
    max-width: fit-content;
    border-radius: 15px;
}
.qrScan h1{
    font-family: "Outfit";
    text-align: center;
}
.qrScan p{
    font-family: "Outfit2";
    font-size: 24px;
    color: gray;
    text-align: center;
}